/*@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';*/

li {
  position: relative;
  background-color: #000;
  color: white;
  border: 2px ridge white;
  border-radius: 5px;
  list-style: none;
  margin: 10px;
  width: 320px;
  min-height: 510px;
}

.back-face {
  padding: 10px;
  overflow: hidden;
}

.back-face .titolo {
  height: 15%;
}

.back-face .image {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.back-face .image img {
  width: 100%;
}

.back-face .overview {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
          user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: blue;
}

span {
  font-size: 0.85em;
  color: #c7c7c7;
}

h1,
h2,
h3,
h4,
h5,
p {
  display: inline-block;
}

[class*="-face"] {
  width: 94%;
  height: 94%;
  position: absolute;
  top: 3%;
  left: 3%;
}

.full-w {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  color: white;
}

ul.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: white;
}

.open-book {
  width: 600px;
  margin: 0 auto;
  perspective: 500px;
  height: 500px;
  background-color: #000;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.open-book .title {
  height: 15%;
}

.open-book .image {
  position: relative;
  height: 85%;
}

.open-book .image img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open-book .page-left,
.open-book .page-right {
  overflow: hidden;
  border: 3px solid wheat;
  width: 49.4%;
  height: 96%;
  background-color: white;
}

.open-book .page-left {
  transform: rotateY(5deg);
}

.open-book .page-right {
  transform: rotateY(-5deg);
}

.open-book .page-right .overview p {
  font-weight: bold;
  font-size: 1.1em;
}

.details {
  width: 800px;
  margin: 20px auto;
  height: 100px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.details .box {
  height: 50%;
  font-size: 2em;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-back {
  margin-top: 10px;
  text-align: center;
}

.turn-back a {
  color: #ffbdbd;
  -webkit-text-stroke: 1px red;
}

.sub-menu-options {
  display: none;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 33px;
  left: 40px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sub-menu-options a:hover {
  transform: scale(1.2);
  -webkit-text-decoration: underline yellow;
          text-decoration: underline yellow;
}

.sub-menu-options div.delete:hover {
  transform: scale(1.2);
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
  cursor: pointer;
}

.show-options {
  cursor: pointer;
  display: inline-block;
  padding: 15px 5px;
}

.show-options:hover {
  -webkit-text-stroke: 1px yellow;
}

form.confirm-delete {
  display: none;
  position: fixed;
  width: 500px;
  height: 300px;
  text-align: center;
  background: #cfcfcf;
  z-index: 999;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

div#delete-mess {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  width: 400px;
  height: 100px;
  text-align: center;
  background: #cfcfcf;
  z-index: 999;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

div#delete-mess .button:hover {
  color: green;
}

.button-choice {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.button-choice button,
.button-choice div.button {
  width: 60px;
  padding: 20px 0;
  border: unset;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}

.yes-btn {
  background-color: red;
}

.no-btn {
  background-color: green;
}

