li {
  position: relative;
  background-color: #000;
  color: white;
  border: 2px ridge white;
  border-radius: 5px;
  list-style: none;
  margin: 10px;
  width: 320px;
  min-height: 510px;
}

.back-face {
  padding: 10px;
  overflow: hidden;
}

.back-face .titolo {
  height: 15%;
}

.back-face .image {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.back-face .image img {
  width: 100%;
}

.back-face .overview {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.see-details {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.see-details:hover {
  -webkit-text-stroke: 1px yellow;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: blue;
}

span {
  font-size: 0.85em;
  color: #c7c7c7;
}

h1,
h2,
h3,
h4,
h5,
p {
  display: inline-block;
}

[class*="-face"] {
  width: 94%;
  height: 94%;
  position: absolute;
  top: 3%;
  left: 3%;
}

.full-w {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  color: white;
}

ul.section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: white;
}

.open-book {
  width: 600px;
  margin: 0 auto;
  perspective: 500px;
  height: 500px;
  background-color: #000;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.open-book .title {
  height: 15%;
}

.open-book .image {
  position: relative;
  height: 85%;
}

.open-book .image img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open-book .page-left,
.open-book .page-right {
  overflow: hidden;
  border: 3px solid wheat;
  width: 49.4%;
  height: 96%;
  background-color: white;
}

.open-book .page-left {
  transform: rotateY(5deg);
}

.open-book .page-right {
  transform: rotateY(-5deg);
}

.open-book .page-right .overview p {
  font-weight: bold;
  font-size: 1.1em;
}

.details {
  width: 800px;
  margin: 20px auto;
  height: 100px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.details .box {
  height: 50%;
  font-size: 2em;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-back {
  margin-top: 10px;
  text-align: center;
}

.turn-back a {
  color: #ffbdbd;
  -webkit-text-stroke: 1px red;
}

